<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @play.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @play.description %>
</p>

<p>
  <strong>Play length:</strong>
  <%= @play.play_length %>
</p>

<p>
  <strong>Performer:</strong>
  <%= @play.performer %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @play.rating %>
</p>

<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>
